body {
    background-color: C8A2C8;
    color: white;
  }
  h1 {
    text-align: center;
    font-size: 50px;
    color: black;
  }
  
  .game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 50vh;
    width: 50vh;
    padding: 10px;
    font-size: 80px;
    position: center;
    margin-left: auto;
    margin-right: auto;
  }
  .square {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 5px solid white;
      text-Align: center;
      color: white;
  }
  .square:nth-child(1), .square:nth-child(2), .square:nth-child(3) {
      border-top: none
  }
  .square:nth-child(3), .square:nth-child(6), .square:nth-child(9) {
      border-right: none
  }
  .square:nth-child(7), .square:nth-child(8), .square:nth-child(9) {
      border-bottom: none
  }
  .square:nth-child(1), .square:nth-child(4), .square:nth-child(7) {
      border-left: none
  }
  .score-track {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }
  .score-column {
    padding: 10px 25px 10px 25px;
    border-bottom: none;
  }
  .score-row {
    color: black;
    font-size:22px;
  }
  .score-row:hover {
    font-weight: bold;
  }


  .win {
    font-size: 45px;
    text-align: center;
  }
  .restart {
    width: 150px;
    padding: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 0%;
    background-color: white;
    color: black;
    font-size: 15px;
  }
  .restart:hover {
    font-weight: bold;
    font-size: 18px;
  
  }
  .reset {
    width: 150px;
    padding: 5px;
    margin-left: 5px;
    border: none;
    border-radius: 0%;
    background-color: white;
    color: red;
    font-size: 15px;;
  }
  .reset:hover {
    font-weight: bold;
    font-size: 18px;
  }

  footer{
    text-align: center;
    margin-top: 2rem;
  }

